<div class="container">
  <div class="jumbotron">
    <div class="row marketing">
        <div class="col-lg-6">
        	<h2>Send an email to any id:</h2>
			<h4>Enter e-mail id</h4>
			<p><input id="to" type="text" placeholder="Enter email Id" /></p>

			<h4>Enter subject</h4>
			<p><input id="subject" type="text" placeholder="Write subject" /></p>

			<h4>Enter message body</h4>
			<p><textarea id="content" cols="40" rows="5" placeholder="Message body"></textarea></p>
			<p>
				<button id="send_email_nodemailer" class="btn btn-primary">Send Using NodeMailer </button>
				<button id="send_email_sendgrid" class="btn btn-primary">Send Using SendGrid </button>
			</p>
			<span id="message"></span>
        </div>

        <div class="col-lg-6">
        	<h2>Send text message:</h2>
			<h4>Enter phone number</h4>
			<p><input id="to_phone" type="text" placeholder="Enter phone number" /></p>

			<h4>Enter message text</h4>
			<p><textarea id="text_message" cols="40" rows="5" placeholder="Message body"></textarea></p>

			<p><button id="send_txt_twilio" class="btn btn-primary">Send Text Message</button></p>
			<span id="message_txt"></span>
        </div>
  	</div>
  </div>
</div>
